#canvas {
   border: 1px solid lightblue;
   background: darkturquoise;
   height: 800px;
   width: 1700px;
   margin-bottom: 2em;
}
body {
	background: lightskyblue;
}
button {
	border: 2px solid lightcyan;
	background: transparent;
	color: lightslategray;
}
input {
	border: 2px solid lightcyan;
	background: transparent;
	color: lightslategray;
}
