#canvas {
   border: 1px solid lightblue;
   background: darkturquoise;
   height: 800px;
   width: 1750px;
   margin-top: 2em;
   margin-left: 0em;
}
body {
	background: lightskyblue;
	font-family: monospace;
    	font-size: 50px;
    	color: lightcyan;
	text-align: center;
}
button {
	border: 2px solid lightcyan;
	background: transparent;
	color: lightslategray;
	border-radius: 25px;
}
input {
	border: 2px solid lightcyan;
	background: transparent;
	color: lightslategray;
	border-radius: 5px;
	height: 50px;
	width: 80%;
	opacity: 0.5;
	transition: opacity 0.2s;
	appearance: none;
}
input:hover {
	opacity: 1
}
input::-webkit-slider-thumb {
    	appearance: none;
    	width: 70px;
    	height: 60px;
	background: lightcyan;
}
